Makefile
Makefile.in
aclocal.m4
autom4te.cache/
clr-boot-manager
compile
config.*
configure
depcomp
install-sh
missing
.deps/
.dirstamp
*.o
stamp-h1

# test suite junk
check_core
check_files
check_array
check_hashmap

*.log
*.trs
test-driver

# coverage
*.gcda
*.gcno
/coverage

/tests/kernels
/tests/dummy_install

clr-boot-manager-*.tar.xz

libtool
ltmain.sh
m4/*.m4

*.plist
