Makefile
Makefile.in
aclocal.m4
autom4te.cache/
clr-boot-manager
compile
config.*
configure
depcomp
install-sh
missing
.deps/
.dirstamp
*.o
stamp-h1
GTAGS
GPATH
GRTAGS

# test suite junk
check_core
check_files
check_updates

*.log
*.trs
test-driver

# coverage
*.gcda
*.gcno
/coverage

/tests/kernels
/tests/dummy_install
/tests/update_playground

clr-boot-manager-*.tar.xz

libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

*.plist
.libs
*.la
*.lo

# Nica tests
check_array
check_hashmap
check_inifile
check_list
