[Unit]
Description=clr-boot-manager tracking kernel boot success

[Service]
Type=oneshot
ExecStart=/usr/bin/clr-boot-manager report-booted

[Install]
WantedBy=multi-user.target
